# MySQL 配置
MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=xxx
MYSQL_DATABASE=xxx
MYSQL_USER=xxx
MYSQL_PASSWORD=xxxx
#DATABASE_URL=mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql/${MYSQL_DATABASE}
DATABASE_URL = "postgresql+psycopg2://username:password@localhost:5432/database"  # 修改为你的数据库 URL

# Redis 配置
REDIS_PASSWORD=
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0

# 爬虫配置 (可选)
CRAWLER_TIMEOUT=30
CRAWLER_USER_AGENT=Mozilla/5.0


JWT_SECRET_KEY=xxx


# PostgreSQL 配置
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=postgres      # 或你的数据库服务 IP / Docker 容器名
POSTGRES_PORT=5432           # PostgreSQL 默认端口
POSTGRES_DATABASE=anime_db   # 你的数据库名，比如存放动漫信息的库


